{%  extends 'base.html' %}

{% block title %}Add Pet{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center m-4">Add New Pet</h2>
    <form action="" method="POST">
        {{form.csrf_token}}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="row gy-10">
            <div class="col-sm-3">{{field.label}}</div>
            <div class="col-sm-6">{{field}}</div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col-sm-1">
                <button>Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}